:root{
    --blue: #633CFF;
    --lavender-mist: #BEADFF;
    --lilac-gray: #EFEBFF;
    --charcoal-gray: #333333;
    --slate-gray: #737373;
    --light-gray: #D9D9D9;
    --snow-white: #FAFAFA;
    --pure-white: #FFFFFF;
    --scarlet-red: #FF3939;
}