@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-44 {
  width: unset; /* This will remove the width styling */
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: bottom; /* or 'baseline' or 'top', depending on your needs */
  display: inline; /* or 'inline-block' or 'inline-flex', depending on your needs */
}
.arrow {
  margin-bottom: 1px;
}
/* --- Home Styling --- */
.whole-page {
  display: flex;
  height: 850px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Light-Grey, #fafafa);
}

.navbar-outer {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.outer {
  display: flex;
  padding: 16px 16px 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--White, #fff);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.profile-icon {
  width: 20px;
  height: 20px;
}
.link-font {
  color: var(--Grey, #737373);

  /* Heading S */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.link-profile {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.link-box {
  display: flex;
  padding: 11px 27px;
  align-items: center;
  gap: 8px;
}
.link-icon {
  width: 20px;
  height: 20px;
}

.profile-box {
  display: flex;
  padding: 11px 27px;
  align-items: center;
  gap: 8px;
}

.preview-font {
  color: var(--Purple, #633cff);

  /* Heading S */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.preview-box {
  display: flex;
  padding: 11px 27px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Purple, #633cff);
}

.profile-font {
  color: var(--Grey, #737373);

  /* Heading S */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.devlink-logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.devlink-logo-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.devlink-logo-name {
  width: 108px;
  height: 21px;
  flex-shrink: 0;
}
.phonecase-icon {
  width: 285px;
  height: 611px;
  flex-shrink: 0;
  fill: var(--White, #fff);
  stroke-width: 1px;
  stroke: var(--Grey, #737373);
}

.phonecase-links {
  display: flex;
  padding: 0px 24px 24px 24px;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  background-color: var(--Light-Grey, #fafafa);
}
.phonecase-block {
  width: 560px;
  padding: 24px;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--White, #fff);
  display: flex;
  align-self: stretch;
}

.preview-section {
  width: 307px;
  height: 631px;
  flex-shrink: 0;
}

.ui {
  align-items: center;
}
.ui-case {
  display: flex;
  width: 237px;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  margin: 30px;
}

.header-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}

.ellipse-icon {
  fill: #eee;
  width: 96px;
  height: 96px;
  overflow: hidden;
}
.ellipse-icon {
  width: 80px; /* Adjust the width and height as needed */
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.ellipse-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.header-rect-1 {
  width: 160px;
  height: 16px;
  border-radius: 104px;
  background: #eee;
}

.header-rect-2 {
  width: 72px;
  height: 8px;
  border-radius: 104px;
  background: #eee;
}

.bottom-case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.rectangle-show-1 {
  height: 44px;
  align-self: stretch;
  border-radius: 8px;
  background: #eee;
}
.rectangle-show-2 {
  height: 44px;
  align-self: stretch;
  border-radius: 8px;
  background: #eee;
}
.rectangle-show-3 {
  height: 44px;
  align-self: stretch;
  border-radius: 8px;
  background: #eee;
}
.links-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background: var(--White, #fff);
}

.links-area {
  height: 500px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  overflow: auto;
  align-self: stretch;
}

.links-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.links-font-header {
  align-self: stretch;
  color: var(--Dark-Grey, #333);

  /* Heading M */
  font-family: Instrument Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
}

.links-font {
  align-self: stretch;
  color: var(--Grey, #737373);

  /* Body M */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.links-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}

.add-link {
  display: flex;
  padding: 11px 27px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Purple, #633cff);
  color: var(--Purple, #633cff);

  /* Heading S */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.illustration-area {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Light-Grey, #fafafa);
}

.illustration-area-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.illustration-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.top-text {
  width: 488px;
  color: var(--Dark-Grey, #333);
  text-align: center;

  /* Heading M */
  font-family: Instrument Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
}

.bottom-text {
  width: 488px;
  color: var(--Grey, #737373);
  text-align: center;

  /* Body M */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.link-save {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
}

.link-rectangle {
  height: 1px;
  align-self: stretch;
  background: var(--Borders, #d9d9d9);
}
.link-rectangle-format {
  display: flex;
  padding: 24px 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.link-button-style {
  display: flex;
  padding: 11px 27px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  opacity: 0.25;
  background: var(--Purple, #633cff);
  transition: background-color 0.3s ease; /* Add transition property */
}

.link-save-publish {
  color: var(--White, #fff);
  /* Heading S */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.link-addition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  position: relative;
}

.link-addition-container {
  display: flex;
  overflow: hidden;
  padding: 20px;
  border-radius: 12px;
  background: var(--Light-Grey, #fafafa);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.link-num-remove-layer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rectangle-link {
}

.rect-1 {
  width: 12px;
  height: 1px;
  background: var(--Grey, #737373);
}
.rect-2 {
  width: 12px;
  height: 1px;
  background: var(--Grey, #737373);
}
.link-font-style {
  color: var(--Grey, #737373);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.remove-button {
  color: var(--Grey, #737373);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.platform-spacing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.platform-font-dropdown {
  width: 396px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.link-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

/*Layout Editing*/

.preview-box:hover {
  display: flex;
  padding: 11px 27px;
  border-radius: 8px;
  border: 1px solid var(--Purple, #633cff);
  background: var(--Light-Purple, #efebff);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.profile-box:hover {
  color: var(--Purple, #633cff);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.profile-box:hover .profile-font {
  color: var(--Purple, #633cff);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.link-box .link-icon {
  /* Change the image source when hovering over .profile-box */
  content: url('./assets/images/icon-link.svg');
}

.profile-box:hover .profile-icon {
  /* Change the image source when hovering over .profile-box */
  content: url('./assets/images/ph-user-circle-bold.svg');
}

.add-link:hover {
  border-radius: 8px;
  border: 1px solid var(--Purple, #633cff);
  background: var(--Light-Purple, #efebff);
}

.link-button-style:hover {
  border-radius: 8px;
  background: var(--purple-hover-color, #beadff);

  /* active-selection */
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

.link-input {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 12px 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 8px;
  border: 1px solid var(--Borders, #d9d9d9);
  background: var(--White, #fff);
  align-items: center;
  gap: 12px;
  align-self: stretch;
  text-indent: 15px; /* Adjust the value as needed */
}

.link-icon-image {
  width: 16px;
  height: 30px;
  position: absolute;
  left: 30px; /* Adjust the left positioning as needed */
  z-index: 1;
}

/*Dropdown*/

.rect {
  background-color: black; /* Add any styling you want for GitHub */
}

.dropdown {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--Borders, #d9d9d9);
  background: var(--White, #fff);
  align-items: center;
  gap: 12px;
  align-self: stretch;
  cursor: pointer; /* Add cursor style to indicate it's clickable */
}

.dropdown-layouts {
  display: flex;
  width: 760px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--Borders, #d9d9d9);
  background: var(--White, #fff);
  position: absolute;
  z-index: 1;
  margin-top: 85px;

  /* shadow */
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Apply cursor pointer to the whole button */
}

.dropdown:hover {
  border-radius: 8px;
  border: 1px solid var(--Purple, #633cff);
  background: var(--White, #fff);

  /* active-selection */
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

.vector-button {
  pointer-events: none; /* Make the vector-button non-interactive */
}

.github-icon {
  width: 15px;
  margin-bottom: 3px;
}

.githubb {
  flex: 1 0 0;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.link-icon-input {
  margin-right: 5px; /* Adjust the margin as needed */
  width: 16px;
  height: 16px;
}

.rectangle-dropdown-2 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-3 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-4 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-5 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-6 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-7 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-8 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-9 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-10 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-11 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-12 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-13 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-14 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-15 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}
.rectangle-dropdown-16 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}

.rectangle-dropdown-17 {
  height: 1px;
  background: var(--Borders, #d9d9d9);
  align-self: stretch;
}

@media (max-width: 800px) {
  .whole-page {
    display: flex;
    width: 768px;
    height: 1024px;
    overflow: hidden;
    background: var(--Light-Grey, #fafafa);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .phonecase-block {
    display: none;
  }
  .links-block {
    display: flex;
    padding: 0px 24px 24px 24px;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .navbar-outer {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .devlink-logo.btn {
    display: flex;
    width: 52px;
    align-items: flex-start;
    gap: 8px;
  }
}
/*Links*/

.GitHub-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}
.selectedGitHub {
  width: 16px;
  height: 16px;
}

.selectedGitHub-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.github-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}
.GitHub-platform:hover .selectedGitHub-font {
  color: var(--Purple, #633cff); /* Change the text color to purple on hover */
}

.KhanAcademy-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}
.selectedKhanAcademy {
  width: 16px;
  height: 16px;
}

.khanacademy-white {
  margin-left: 40px;
}

.khanacademy-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.selectedKhanAcademy-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.YouTube-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.youtube-white {
  margin-left: 8px;
}

.selectedYouTube {
  width: 16px;
  height: 16px;
}

.youtube-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.selectedYouTube-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.YouTube-platform:hover .selectedYouTube-font {
  color: var(--Purple, #633cff); /* Change the text color to purple on hover */
}

.LinkedIn-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedLinkedIn {
  width: 16px;
  height: 16px;
}

.selectedLinkedIn-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.linkedin-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.linkedin-icon {
  width: 15px;
  margin-bottom: 3px;
}

.Facebook-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.facebook-white {
  margin-left: 12px;
}

.facebook-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.selectedFacebook {
  width: 16px;
  height: 16px;
}

.selectedFacebook-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.FrontendMentor-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedFrontendMentor {
  width: 16px;
  height: 16px;
}

.frontendmentor-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 5px;
}

.selectedFrontendMentor-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.X-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedX {
  width: 16px;
  height: 16px;
}

.selectedX-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.x-white {
  margin-right: 30px;
}

.x-font {
  color: var(--White, #fff);
  padding-right: 65px;
  margin-right: 30px;
}

.Twitch-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedTwitch {
  width: 16px;
  height: 16px;
}

.selectedTwitch-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.twitch-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.Devto-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedDevto {
  width: 16px;
  height: 16px;
}

.devto-white {
  margin-right: 8px;
}

.devto-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.selectedDevto-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.Codewars-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.codewars-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 50px;
}

.selectedCodewars {
  width: 16px;
  height: 16px;
}

.selectedCodewars-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.CodePen-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.codepen-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 55px;
}

.selectedCodePen {
  width: 16px;
  height: 16px;
}

.selectedCodePen-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.freeCodeCamp-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.freecodecamp-font {
  color: var(--White, #fff);
  margin-right: 35px;
}

.freecodecamp-white {
  margin-right: 15px;
}

.selectedfreeCodeCamp {
  width: 16px;
  height: 16px;
}

.selectedfreeCodeCamp-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.LeetCode-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}
.selectedLeetCode {
  width: 16px;
  height: 16px;
}

.selectedLeetCode-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.leetcode-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.leetcode-icon {
  width: 15px;
  margin-bottom: 3px;
}

.GitLab-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.gitlab-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.selectedGitLab {
  width: 16px;
  height: 16px;
}

.selectedGitLab-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.StackOverflow-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedStackOverflow {
  width: 16px;
  height: 16px;
}

.stackoverflow-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 25px;
}

.selectedStackOverflow-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.Hashnode-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedHashnode {
  width: 16px;
  height: 16px;
}

.selectedHashnode-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hashnode-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 50px;
}

.Replit-platform {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectedReplit {
  width: 16px;
  height: 16px;
}

.replit-white {
  margin-right: 10px;
}

.replit-font {
  color: var(--White, #fff);
  margin: 15px;
  padding-right: 65px;
}

.selectedReplit-font {
  width: 604px;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.rectangle-show-1-github {
  background-color: black; /* Add any styling you want for GitHub */
}

.profile-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background: var(--White, #fff);
}

.profile-upload-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.profile-upload-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Light-Grey, #fafafa);
}

.profile-upload {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.profile-upload-font {
  width: 240px;
  color: var(--Grey, #737373);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-left: 20px;
}

.profile-image-area {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

.profile-image-validation {
  flex: 1 0 0;
  color: var(--Grey, #737373);
  font-family: Instrument Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.profile-uploadimage {
  display: flex;
  overflow: hidden;
  padding: 61px 38px 60px 39px;
  border-radius: 12px;
  background: var(--Light-Purple, #efebff);
  justify-content: center;
  align-items: center;
}
.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile-default {
  width: 40px;
  height: 40px;
}

.profile-default-font {
  color: var(--Purple, #633cff);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.profile-block {
  display: flex;
  overflow: hidden;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}

.profile-save {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
}

.profile-save-area {
  display: flex;
  padding: 24px 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.profile-save-btn {
  display: flex;
  padding: 11px 27px;
  border-radius: 8px;
  background: var(--Purple, #633cff);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.profile-save-font {
  width: 37px;
  height: 24px;
  color: var(--White, #fff);

  /* Heading S */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.profile-header-font {
  align-self: stretch;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.profile-subheader-font {
  align-self: stretch;
  color: var(--Grey, #737373);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.profile-input-form {
  display: flex;
  border-radius: 12px;
  background: var(--Light-Grey, #fafafa);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  padding: 15px;
}
.profile-first-name {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.profile-last-name {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.profile-email {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.profile-firstname,
.profile-lastname,
.profile-emails {
  width: 240px;
  color: var(--Grey, #737373);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.profile-first-name-input,
.profile-last-name-input,
.profile-email-input {
  display: flex;
  overflow: hidden;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--Borders, #d9d9d9);
  background: var(--White, #fff);
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}

.profile-first-name-input::placeholder,
.profile-last-name-input::placeholder,
.profile-email-input::placeholder {
  opacity: 0.5;
  flex: 1 0 0;
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.first-name-render,
.last-name-render {
  color: var(--Dark-Grey, #333);
  font-family: Instrument Sans;
  font-style: normal;
  font-weight: bold; /* Making first name and last name bold */
  font-size: 1.5em; /* Adjusting font size */
  line-height: 150%;
}

.email-render {
  color: gray; /* Changing email color to gray */
  font-family: Instrument Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 1em; /* Adjusting font size for email */
  line-height: 150%;
}

.profile-first-name-input:focus,
.profile-last-name-input:focus,
.profile-email-input:focus {
  border-radius: 8px;
  border: 1px solid var(--Purple, #633cff);
  background: var(--White, #fff);
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  outline: none; /* This removes the default focus outline */
}

.profile-box.active {
  display: flex;
  padding: 11px 27px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Light-Purple, #efebff);
}

.profile-icon.active {
  content: url('./assets/images/ph-user-circle-bold.svg');
}

.profile-font.active {
  color: var(--Purple, #633cff);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.link-box.active {
  display: flex;
  padding: 11px 27px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Light-Purple, #efebff);
}

.link-icon.active {
  /* Add your active styles for the image here */
  width: 20px;
  height: 20px;
}

.link-font.active {
  /* Add your active styles for the font here */
  color: var(--Purple, #633cff);

  /* Heading S */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.link-box:hover {
  color: var(--Purple, #633cff);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.link-box:hover .link-font {
  color: var(--Purple, #633cff);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.link-icon.active {
  /* Change the image source when hovering over .profile-box */
  content: url('./assets/images/ph-link-bold.svg');
}

.link-box:hover .link-icon {
  /* Change the image source when hovering over .profile-box */
  content: url('./assets/images/ph-link-bold.svg');
}
/*Preview Page*/

.preview-page {
  width: 1512;
  height: 984px;
  background: var(--Light-Grey, #fafafa);
}

.preview-rectangle-view {
  position: absolute;
  width: 1440px;
  height: 357px;
  border-radius: 0px 0px 32px 32px;
  background: var(--Purple, #633cff);
  flex-shrink: 0;
}

.preview-navbar-view {
  position: static;
  display: flex;
  width: 1440px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.preview-navbar-bar {
  display: flex;
  overflow: hidden;
  padding: 16px 16px 16px 24px;
  border-radius: 12px;
  background: var(--White, #fff);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.preview-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.preview-ui-view {
  display: flex;
  width: 349px;
  padding: 48px 56px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  background: #fff;

  /* shadow */
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
}

.preview-ui-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  flex: 1 0 0;
}

.preview-ui-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}
.github-white {
}

.leetcode-white {
  margin-left: 12px;
  margin-bottom: 2px;
}

.linkedin-white {
  margin-left: 8px;
}
